.navbar-app-container{
    height: calc(100% - 60px);
    width: 250px;
    background-color: #1C7CD5;
    transition: all 0.5s;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    z-index: 1000;
}

.mask-page-navbar{
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgba(112, 112, 112, 0.384);
    transition: all 0.5s;
    z-index: 999;
}

.navbar-app-container h5{
    margin-bottom: 0;
    padding: 10px;
    font-weight: bold;
    padding-left: 15px;
}

.navbar-app-container .nav .nav-item{
    padding: 10px 40px;
}

.navbar-app-container .nav a{
    color: #fff;
    transition: all 0.5s;
    min-width: 250px;
}

.navbar-app-container .nav a:hover{
    text-decoration: none;
    background-color: #ffffff13;
}

.navbar-app-container .nav a.active-nav-link{
    text-decoration: none;
    background-color: #ffffff3b;
}

@media (max-width: 992px){
    .navbar-app-container{
        width: 0;
        position: absolute;
        left: 0;

    }
    .navbar-app-container.open{
        width: 250px;
    }

    .mask-page-navbar.open{
        display: block;
    }
}