.alert{
    position: absolute!important;
    width: 350px!important;
    top: 20px;
    right: 20px;
    font-size: 14px;
    padding: 10px 50px 10px 10px;
}
.alert p{
    margin-bottom: 0;
}

@media (max-width: 400px){
    .alert{
        left: 20px;
        right: 20px;
        width: auto;
    }
}

